html, body, #root, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.leva-dock-bottom {
    position: fixed !important;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    max-width: 100vw;
    z-index: 1000;
    border-radius: 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.15);
}

.dock-container {
    position: fixed;
    top: 10%;
    left: 2rem;
    display: flex;
    align-items: flex-start;
    z-index: 1000;
    width: auto;
    background: transparent;
    pointer-events: auto;
}
.colorpicker-popup {
    margin-top: -0.5rem;
    margin-left: -0.4rem;
    pointer-events: auto;
}
.p-dock {
    background: var(--surface-ground);
    border-radius: 24px;
    z-index: 1000;
    position: relative;
    margin: 0;
    box-shadow: 0 2px 16px rgba(0,0,0,0.12);
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}

.p-dock .p-dock-item-container {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.15rem 0.15rem;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dock-color-pie {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: linear-gradient(135deg, #aee7ff 0%, #0057b8 100%);
    display: flex;
    cursor: pointer;
}

.bar-circle {
    background: var(--surface-ground);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #fff;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
